* {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

body {

}

nav {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    align-self: auto;
    width: 200px;
    height: 80px;
}

.logo img {
    width: 200px;
    height: 80px;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    text-align: right;
    list-style: none;
    margin-top: 20px;
}

li a {
    color: #b81d24;
    margin: 10px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

a img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

a button {
    background-color: black;
    color: white;
    border: solid 2px green;
}

#rows {
    height: 400px;
    border: solid 2px rgb(147, 196, 196);
}

.list {
    color: white;
    border: solid 2px yellow;
    font-family: 'Bebas Neue';
    margin-left: 20px;
    margin-top: 20px;
    font-size: 35px;
}

.boxes {
    border: solid 2px rgb(221, 0, 255);
    display: flex;
    justify-content: space-around;
}

.boxes img {
    height: 250px;
    width: 150px;
    border: solid 2px rgb(255, 0, 72);
}

box1 {
    width: 100px;
    height: 80px;
    color: gray;
    opacity: .45;
    border: solid 2px rgb(255, 174, 0);
}

img:hover {
    background-color: black;
    opacity: .20;
}

a:hover {
    color: white;
}

.hide {
    display: none;
}

.tv1:hover + .hide {
    display: contents;
    color: white;
    opacity: .75;
}

// figure out how to get bridgerton to display on pic and not
next to it //

// also redo margins & padding after resetting default browser settings //